{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}
 {% stylesheet %}
   .cart_page a{max-width: 150px;}
   .cart_page td{border: 2px solid black ;}
   code{color:forestgreen;font-size: 20px;font-weight: 600;}

 {% endstylesheet %}
 

<h1>{{ 'cart.title' | t }}</h1>

<form class="cart_page" action="{{ routes.cart_url }}" method="post">
  <table>
    {{cart.product.title | json}}
    {% for item in cart.items %}
      <tr>
        <td>
          {% render 'image', image: item.image, url: item.url %}
        </td>
        <td>
        <code>[item.product.title] </code>
          <p>{{ item.product.title }}</p>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
        </td>
        <td>
        <code>[item.title] </code>
          <p>{{ item.title }}</p>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
        </td>
           <td>
        <code>[item.product.price] </code>
          <p>{{ item.product.price }}</p>
        </td>
        <td>
          <input type="text" name="updates[]" value="{{ item.quantity }}">
          <input type="submit" value="{{ 'cart.update' | t }}">
        </td>
      </tr>
    {% endfor %}
  </table>

  <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
</form>

{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
